<body>
    <mat-toolbar class="bar">
        <div class="pfp-box">
            <div class="row">
                <i class="far fa-user-circle fa-3x"></i>
                <label class="name" *ngIf="user.signed && !choosingName">{{user.name}}</label>
            </div>
        </div>
        <img class="logo" width="300px" src="../assets/logo.png">
    </mat-toolbar>
    <div *ngIf="!user.signed" class="fullscreen blur">
        <div class="login-modal">
            <mat-tab-group *ngIf="!choosingName">
                <mat-tab label="Entrar">
                    <div class="col login">
                        <div class="row">
                            <i class="fa fas fa-at sprite"></i>
                            <label>Email:</label>
                            <input (keyup.enter)="login()" [(ngModel)]="user.email" type="email"
                                [ngClass]="!isValidEmail(user.email) && submitted ? 'invalid' : ''">
                        </div>
                        <div class="row">
                            <i class="fa fas fa-key sprite"></i>
                            <label>Senha:</label>
                            <input (keyup.enter)="login()" [(ngModel)]="password" type="password"
                                [ngClass]="!password && submitted ? 'invalid' : ''">
                        </div>
                        <button (click)="login()" mat-raised-button color="primary" class="login-button">Login</button>
                    </div>
                </mat-tab>
                <mat-tab label="Registrar">
                    <div class="col register">
                        <div class="row">
                            <i class="fa fas fa-at sprite"></i>
                            <label>Email:</label>
                            <input (keyup.enter)="signup()" [(ngModel)]="user.email" type="email"
                                [ngClass]="!isValidEmail(user.email) && submitted ? 'invalid' : ''">
                        </div>
                        <div class="row">
                            <i class="fa fas fa-key sprite"></i>
                            <label>Senha:</label>
                            <input (keyup.enter)="signup()" [(ngModel)]="password" type="password"
                                [ngClass]="!password && submitted ? 'invalid' : ''">
                        </div>
                        <div class="row">
                            <i class="fa fas fa-redo sprite"></i>
                            <label>Senha:</label>
                            <input (keyup.enter)="signup()" [(ngModel)]="passwordConfirm" type="password"
                                [ngClass]="!passwordConfirm && submitted ? 'invalid' : ''">
                        </div>
                        <button (click)="signup()" mat-raised-button color="primary"
                            class="login-button">Registrar</button>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div *ngIf="choosingName">
                <div class="col choose-name">
                    <div class="row center-text">
                        <label>Escolha um nome para seu perfil. Você pode alterar a qualquer
                            hora!</label>
                    </div>
                    <div class="row">
                        <input class="name-input" (keyup.enter)="submitName()" [(ngModel)]="user.name" type="text"
                            [ngClass]="user.name.length == 0 && submitted ? 'invalid' : ''">
                        <button (click)="submitName()" mat-raised-button color="primary"
                            class="name-button">Submeter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-sidenav-container *ngIf="user.signed" class="fullscreen">
        <app-sidebar [user]="user"></app-sidebar>
        <app-chat-box [user]="user"></app-chat-box>
    </mat-sidenav-container>
</body>