.fullscreen {
    width: 100%;
    height: 100%;
}

.blur {
    background: url('../assets/Blur.jpg')
}

.login-modal {
    width: 400px;
    height: 300px;
    left: 35%;
    border-radius: 10px;
    position: absolute;
    bottom: 30vh;
    background-color: #3b3e49;
    display: flex;
    padding-left: 70px;
    border-width: 1px;
}

.signout {
    position: absolute;
    margin-left: 40px;
    margin-top: 15px;
}

.signout:hover {
    border-radius: 50%;
    background-color: rgb(240, 255, 255, 0.2);
    cursor: pointer;
}

.login {
    padding-left: 30px;
    padding-top: 40px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.choose-name {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 65px;
}

.register {
    padding-top: 30px;
}

.login-button {
    float: right;
    margin-right: 35px;
    background-color: green;
}

.sprite {
    padding-right: 10px;
}

.pfp-box {
    width: 20%;
    height: 50px;
    border-radius: 30px;
    padding: 5px;
    background-color: #3b3e49;
    display: flex;
}

.bar {
    height: 10%;
}

.name {
    position: relative;
    bottom: 27%;
    margin-left: 10px;
    font-size: large;
    color: white;
}

.invalid {
    border: 1px solid red;
}

.name-input {
    height: 36px;
    margin: 5px;
    width: 65%;
}

.logo {
    position: relative;
    right: -55%;
}

.name-button {
    float: right;
    background-color: green;
    margin: 5px;
}

input {
    font-family: 'Trebuchet MS';
    background-color: rgb(255, 255, 255, 1);
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
    font-family: 'Trebuchet MS';
    color: white;
    font-size: medium;
    display: inline;
    text-align: right;
    padding-right: 10px;
}

body {
    height: 100%;
    overflow: hidden !important;
    color: white !important;
}