.chatBox {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    overflow-y: auto;
}

.chatBox {
    --main-light-color: limegreen;
    --main-dark-color: gray;
    --main-background-color: black;
    background-color: darkolivegreen;
}

.text {
    height: 50%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: medium;
    font-family: 'Trebuchet MS';
    color: white;
    overflow: auto;
    margin-top: 10px;
    margin-left: 20px;
}

.divider {
    margin-right: 100px;
    margin-left: 400px;
    font-weight: bold;
}

.box {
    //messages frame
    width: 130vh;
    height: 74vh;
    padding-left: 300px;
    padding-top: 20px;
    /* border: solid black; */
    margin: auto;
    position: relative;
    display: block;
}

.answer-box {
    width: 810px;
    height: 70px;
    margin: auto;
    bottom: 90px;
    left: 400px;
    position: absolute;
    border-radius: 30px;
    background-color: gray;
}

.center {
    padding-top: 50%;
}

.send-circle {
    left: 1145px;
    width: 100px;
    height: 100px;
    bottom: 53px;
    margin: auto;
    position: absolute;
}

.dialog-1 {
    //bubble art
    height: 70px;
    width: 200px;
    background-color: var(--main-dark-color);

    border-radius: 50px;
}

.left-point {
    //bubble point
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 10vh solid var(--main-dark-color);
    top: 45%;
    left: -10%;
    transform: rotate(60deg);
}

.dialog-2 {
    height: 70px;
    width: 200px;
    background-color: var(--main-light-color);

    border-radius: 30px;
    right: 0;
    float: right;
}

.right-point {
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 10vh solid var(--main-light-color);
    position: relative;
    margin-left: 170px;
    right: -10%;
    bottom: 5px;
    transform: rotate(-60deg);
}