.sidebar {
    width: 300px;
    margin-right: 15px;
}

.bottomText {
    text-align: center;
    bottom: 0;
    font-weight: lighter;
    font-size: 80%;
}

.divider {
    margin-right: 20px;
    margin-left: 20px;
}