.sidebar {
    width: 340px;
    margin-top: 10px;
    margin-left: 10px;
    height: 81%;
    margin-right: 15px;
    border-radius: 30px;
    display: flex;
}

.bottomText {
    text-align: center;
    bottom: 0;
    font-weight: lighter;
    font-size: 80%;
}

.divider {
    margin-right: 20px;
    margin-left: 20px;
}